/* styles.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4f4f;
    color: white;
    padding: 1rem;
    }
    
    .header h1 {
    margin: 0;
    font-size: 2rem;
    }
    
    .header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    .header li {
    margin-left: 1rem;
    list-style: none;
    }
      
    
    .header a {
    color: white;
    text-decoration: none;
    }
    
    .header a:hover {
    text-decoration: underline;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
      }
      
      .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .navbar-nav {
        display: flex;
        align-items: center;
        list-style: none; /* add this line to remove bullet points */
      }
      
      .navbar-nav li {
        margin-right: 20px;
      }
      
      .navbar-nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
      }
      